:host {
  display: block;


  .content {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    align-items: flex-end;

    .title {

      margin-bottom: 40px;
      h1{
        font-size: 2.5rem;
        margin-bottom: .5rem;
        font-weight: 900;
      }

      h3 {
        margin-top: 0;
        font-size: 1.5rem;
      }
    }
  }

  .list-section {
    position: relative;
    margin-top: -65px;
    text-align: left;
    min-height: 450px;
    padding-bottom: 2em;;

    h2, p {
      font-size: 2rem;
    }

    .description-title {
      color: #FFED7B;
    }
  }

  .find-trip {
    padding-bottom: 10em;

    h1 {
      font-size: 2rem;
      font-weight: 900;
      color: #FF7B99
    }

    p {
      font-size: 1.5rem;
    }

    img {
      -webkit-animation: breathing 2s ease-out infinite normal;
      animation: breathing 2s ease-out infinite normal;
    }
  }

}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

}

